{% extends 'base.html' %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <div class="meta">
        <p><strong>작성자:</strong> {{ post.author }} | <em>작성일:</em> {{ post.created_at }}</p>
    </div>
    <hr>
    <div class="content">
        {{ post.content|linebreaks }}
    </div>
    <hr>
    
    <!-- 삭제 버튼 -->
    <form action="{% url 'post_delete' post.id %}" method="POST" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="delete-btn">삭제</button>
    </form>

    <br>
    <br>
    <a href="{% url 'home' %}">← 홈으로</a>
{% endblock content %}

